body {
  background-color: #111016;
  min-height: 100vh;
  font-family: monospace, monospace;
  display: grid;
  place-items: center;
}

.copy:active {
  transform: translateY(-2px);
}

.fadeInLeft {
  animation: fadeInLeft 0.3s forwards;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
